
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  <ul class="nav nav-tabs">
    <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true} ">
      <a role="presentation" [routerLink]="['/']" >HOME</a>
    </li>
    <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
      <a role="presentation" [routerLink]="['/about']" >ABOUT</a>
    </li>
  </ul>
  </div>
</nav>


<!--<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  
</nav>-->
